#card{
    background-color: white; 
    width: 300px; 
    height: 100%;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-right: .5rem;
    border-radius: 20px;
    max-height: 500px;
}

#line{
    border: #005396 1px solid;
    border-radius: 80px;
    margin-left: .5rem;
    margin-right: .5rem;

}

h4{
    font-weight: bolder;
}

@media (min-width: 768px) {
   #card{
    background-color: white; 
    width: 400px; 
    height: 100%;
    padding: .5rem;
    border-radius: 20px;
    max-height: 500px;
}


}