#card{
    background-color: white; 
    width: 300px; 
    height: 100%;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-right: .5rem;
    border-radius: 20px;
    max-height: 500px;
    transition: all 500ms ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

#line{
    border: #005396 1px solid;
    border-radius: 80px;
    margin-left: .5rem;
    margin-right: .5rem;
}

h4{
    font-weight: bolder;
}

@media (min-width: 768px) {
   #card{
    background-color: white; 
    width: 350px; 
    height: 100%;
    padding: 1rem;
    transition: all 500ms ease;
    border-radius: 20px;
    max-height: 500px;
}


}