body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    background-color: white;
    color:#005396;
}


header{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

#landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}

#headernav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#headernav a{
    padding: 5px;
    font-size: 50%;
    text-decoration: none;
    margin: 5px;
    color: white;
    background-color: #005396;
    transition: 500ms;
}

#headernav a:hover{
    background-color: #a8c3d8;
    color: #005396;
    transition: 500ms;
}

h2{
    font-weight: medium;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
}

p{
    font-weight: medium;
    text-align: center;
    margin: 3%;
    line-height: 200%;
}


/* Call button */

#callinside{
    z-index: 10;
    color:white;
    font-size: 50%;
    line-height: 160%;
    text-align: center;
    align-items: center;
}

.call{
    margin:0;
    padding: 0;
    text-decoration: none;
    color: white;
}

#callbox{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    font-weight: medium;
}

#callbtn{
    display:flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    position: relative;
    height: 35px;
    width: 110px;
    background-color:#005396;
    cursor:pointer;
    overflow: hidden;
    transition: ease;
}


#callbtn:hover{
    background-color: #a8c3d8;
    border:#005396;
    color:#005396;
}

#callbtn::before{
    position: absolute;
    content: '';
    width: 180%;
    height: 50%;
    background: #005396;
    transform: rotate(45deg);
}

#callbtn:hover::before{
    animation: animate2 3s linear infinite;
}

@keyframes animate2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#callbtn:hover::after{
    position:absolute;
    content:'';
    inset: 4px;
    color:#005396;
    background-color: #a8c3d8;
}

/* about section */

#about{
    display: grid;
    grid-template-rows: 400px 650px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 4%;
    margin-bottom: 5%;
 
}

#profile-box{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
}

#profile{
    width: 80%;
    border: #a8c3d8;
    border-style: solid;
    padding: 20px;
    border-width: 0px 3px 0px 3px;
}

#profile-text{
    display:flex;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 1/3;
}
#text-about{
    text-align: left;
    padding: 2%;
    line-height: 200%;
}


/* services section */
#services-contact{
    display: grid;
    background-color: hsl(207, 100%, 29%);
    color: white;
    margin: 2%;
    grid-template-rows: 850px 270px;
}

#services-contactimg{
    width: 80%;
    border: #a8c3d8;
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    padding: 20px;
}

.services{
    grid-row: 1/2;
    margin: 20px;
}

#centrimg{
    display: flex;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center;
}

.descripts p{
    text-align: left;
}

.contact{
    grid-row: 2/3;
}

.emailphone{
    margin-left: 20px;
}

.emailphone a{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    text-align: left;
    text-decoration: none;
}





/* image features */

#logo{
    width: 200px;
    padding: 5px;
    background-color: white;
}

#mainimg{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 50vh;
}

#imgbox{
    position:relative;
    width: 100%;
    height: 100%;
}

.imgbox p{
    text-align: center;
}

@keyframes fadeInOut {
    0%, 70%, 80%, 90%, 100%{
        opacity: 1;
    }
    10%, 20%,30%, 40%, 50%, 60%{
        opacity: 0;
    }

}


#main {
    background: url('imgs/close_up.jpg') no-repeat;
    animation: fadeInOut 10s forwards;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    width: 100%;
    background-size: 100%;
    height: 100%;
    position: absolute;
}
 
#two {
    background: url('imgs/roof.jpg') no-repeat;
    width: 100%;
    background-size: 100%;
    height: 100%;
}


.gallery{
    margin-top: 20px;
    height: 800px;
}

.galleryimages{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* old gallery styles 
#galleryslides{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    height: 1000px;
    justify-items: center;
    position: relative;
    column-gap: 1%;
    row-gap: 2%;
}

@keyframes appear{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
} */

.imgbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
}

.img{
    border:#a8c3d8;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}


/* #img1box{
    position:relative;
    width: 70%;
    height: 100%;
}

#img1{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/before1.jpg') no-repeat;
    background-size: 100%;
    animation: appear 10s infinite;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

#img1after{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/after1.jpg') no-repeat;
    background-size: 100%;
}

#img2box{
    position:relative;
    width: 70%;
    height: 100%;
}

#img2{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/before2.jpg') no-repeat;
    background-size: 100%;
    animation: appear 10s infinite;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

#img2after{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/after2.jpg') no-repeat;
    background-size: 100%;
}

#img3box{
    position:relative;
    width: 70%;
    height: 100%;
}

#img3{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/before3.jpg') no-repeat;
    background-size: 100%;
    animation: appear 10s infinite;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

#img3after{
    position: absolute;
    width: 100%;
    height:100%;
    background: url('imgs/after3.jpg') no-repeat;
    background-size: 100%;
} */


/* footer */

footer{
    background-color: #005396;
    color: #005396;
    padding: 30px;
    margin: 0;
}


#logofooter{
    display: flex;
    justify-content: center;
}

#lgfoot{
    margin: 0;
    align-items: baseline;
    width: 200px;
    padding: 1%;
    background-color: white;
}

#copyright{
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

@media (min-width: 650px){
    #about{
        grid-template-rows: 1fr 500px;
    }

    #services-contact{
        grid-template-rows: 1fr 300px;
    }

    .gallery{
        height: 100%;
        padding-bottom: 20px;
    }

    #mainimg{
        width: 100%;
        height: 60vh;
    }


    #headernav a{
        padding: 10px;
        font-size: 70%;
        text-decoration: none;
        margin: 5px;
        color: white;
        background-color: #005396;
        transition: 500ms;
    }

}

@media (min-width: 900px){
    #about{
        grid-template-rows: 1fr 470px;
    }

    #headernav a{
        padding: 15px;
        font-size: 70%;
        text-decoration: none;
        margin: 5px;
        color: white;
        background-color: #005396;
        transition: 500ms;
    }

    /* services section */
    #services-contact{
        display: grid;
        background-color: hsl(207, 100%, 29%);
        color: white;
        grid-template-rows: 1fr 300px;
    }

    #services-contactimg{
        width: 80%;
        border: #a8c3d8;
        border-style: solid;
        border-width: 3px 0px 3px 0px;
        padding: 20px;
    }

    .serviceshead{
        grid-column: 1/2;
        grid-row:1/2;
    }

    .services{
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

    #centrimg{
        grid-row: 1/3;
        grid-column: 2/3;
        display: flex;
        width: 100%;
        margin-top: 70px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .descripts p{
        grid-column: 1/2;
        text-align: left;
    }

    .descripts{
        padding: 2%;
    }

    .contact{
        grid-row: 2/3;
    }

    .galleryimages{
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    
    #mainimg{
        height: 90vh;
    }

    .gallery{
        height: 100%;
        margin-bottom: 50px;
    }

        
}

@media (min-width: 1100px){
    #about{
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-template-columns: 600px 1fr;
        grid-column-gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
     
    }

    #profile-box{
        display:flex;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    #profile{
        width: 80%;
    }
    
    #profile-text{
        margin: 20px;
        grid-row: 1/2;
        grid-column: 2/3;
    }

}

@media (min-width: 1300px){


#landing{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 950px 450px;
}

#logo{
    width: 350px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#mainimg{
    width: 110%;
    height: 105vh;
    margin-left: -225px;
    grid-column: 1/2;
    grid-row: 1/3;
}

#imgbox{
    position:relative;
    width: 110%;
    height: 100%;
}

header{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#headernav a{
    padding: 10px;
    font-size: 90%;
    text-decoration: none;
    margin: 3px;
    color: white;
    background-color: #005396;
    transition: 500ms;
}

}