.logo{
    width: 65px;
}

#header{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    z-index: 10;
    position: absolute;
}

nav{
    color: white;
    font-weight: bold;
    font-size: medium;
    padding-right: .5rem;
    transition: 500ms ease;
}

nav:hover{
    text-decoration: underline;
}