<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
    
    <img src="imgs/alex.png" alt="About Spotless Sights" id="about-img">
    <div class="subtext">
       Spotless Sights began in 2024 founded by Chapel Hill native, <b>Alex Ray</b>, with a simple mission: to serve the Chapel Hill community with care and integrity. What started as a passion project quickly became a heartfelt calling - a way to give back by brightening the lives of those around him, one window at a time.

       <br><br>
        In less than a year, Alex has stepped into over 300 homes across the Triangle, becoming a trusted name and community favorite.

        Support a local business built on heart, and let Spotless Sights bring a little more light into your home!
       <br><br>
       <b>Ask for a free quote with Alex today and enjoy sparkling clean windows tomorrow!</b>
    </div>

</div>


   

