<div class="about-layout">
  <img src="imgs/alex.png" alt="About Spotless Sights" id="about-img">
  <div class="about-text">
    Spotless Sights began in 2024 founded by Chapel Hill native, <b>Alex Ray</b>, with a simple mission: to serve the Chapel Hill community with care and integrity.
    <br><br>
    In less than a year, Alex has stepped into over 300 homes across the Triangle, becoming a trusted name and community favorite, even winning the <b>Neighborhood Fave Award for Nextdoor in 2025.</b>
    <br><br>
    Support a local business built on heart, and let Spotless Sights bring a little more light into your home!
    <br><br>
    <b>Ask for a free quote with Alex today and enjoy sparkling clean windows tomorrow!</b>
  </div>
</div>
