<h4 class="section-title">Our Services</h4>

<div class="contact-layout">

  <div class="services-list">
    <p>Residential Window &amp; Track Cleaning</p>
    <p>Commercial Cleaning</p>
    <p>Post Construction Window Washing</p>
    <p>Screen Cleaning &amp; Repair</p>
    <p>Gutter Cleaning</p>
  </div>

  <div class="contact-container">
    <div class="contact-card">
      <h3 id="contact-header">Spotless.<br>We promise.</h3>
      <p class="contact-tagline">Spotless Sights completes every job with a <b>100% satisfaction guarantee</b>. Become our next satisfied customer today:</p>
      <div class="contact-buttons">
        <a mat-flat-button class="contact-btn" href="tel:919-268-3949">Call Now</a>
        <a mat-flat-button class="contact-btn" href="https://clienthub.getjobber.com/client_hubs/4d9f8932-6bce-4a6a-8c79-3bce14d04a42/public/work_request/new?source=social_media">Schedule Quote Online</a>
      </div>
    </div>
  </div>

</div>
