<!-- 
  <mat-toolbar>
        <img id="logo" src="imgs/logo_nowords.png" alt="logo">
    
 
    <div>
        <a mat-raised-button href="tel:919-268-3949" target="_blank" style="text-decoration: none;">Call for Free Estimate</a>

    </div>
   

  </mat-toolbar> -->
   
  <div id="vidcontainer">
    <video autoplay="autoplay" style="width: 100%;" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto"  id="vid">
      <source src="imgs/landingvid.mp4" type="video/mp4" >
  </video>
  <!-- <a mat-raised-buttonid="overlaybutton" href="tel:919-268-3949" target="_blank" style="text-decoration: none;">Call for Free Estimate</a> -->

  <button id="overlaybutton"><a a id="topbtna" href="tel:919-268-3949">Call for free estimate</a></button>
</div>



<div class="mainheaderbox">
    <img class="mainheader" src="imgs/welcome.png" alt="welcome logo">
   </div>      

        <p>Where clarity meets perfection, and your satisfaction is always our priority! 
            <br> <br>
            At Spotless Sights, we provide exceptional window cleaning services using state-of-the-art equipment and premium solutions—bringing a pristine, polished look to your home with care and professionalism.



            <br> <br>

            <b>Call or Text: </b><a class="contacta" href="tel:919-268-3949">919-268-3949</a>

            <br> <br>
            <b>Email: </b> <a  class="contacta" href="mailto:alex@spotlesssights.com">alex&#64;spotlesssights.com</a></p>


            <div id="reviews">
                <review-widget></review-widget>
              </div>

            <div class="headerbox">
                <img class="headers" src="imgs/Services.png" alt="image of owners">
               </div>      
               
               <div class="aboutimg">
                <img src="imgs/main.jpg" alt="image for about us">
              </div>

        <p>Experience crystal-clear results with our premium window washing services—where quality meets satisfaction, guaranteed.
            <br><br>
            <b>Our services include:</b>
        </p> 
        <ul id="services">
              <li>Residential & commercial window washing - interior and exterior</li>
              <li>Residential screen cleaning</li>
              <li>Gutter inspection and cleaning</li>
              <li>Post construction window washing</li>
              <li>Special window cleaning requests</li>

          </ul>

          <p><b>Don't see what you are looking for?</b> <br>Give us a call! <a class="contacta" href="tel:919-268-3949">919-268-3949</a> <br><br> We are happy to meet more specific customer needs at request!</p>
    


          <div class="headerbox">
            <img class="headers" src="imgs/Work.png" alt="image of owners">
           </div>        

           <div id="carouselcontainer">    
           <carousel-widget></carousel-widget>
        </div>


        <div class="headerbox">
        <img class="headers" src="imgs/About.png" alt="image of owners">
       </div>


      <div class="aboutimg">
        <img src="imgs/alex.jpg" alt="image for about us">
      </div>

      <p id="about-p">Owned and operated by Chapel Hill native, 
        <b>Alex Ray</b>, Spotless Sights is committed to not only delivering sparkling clean windows, but also to fostering genuine 
        connections with every client interaction.
        <br><br>

        Ask for a <b>free quote</b> with Alex today and enjoy sparkling clean windows tomorrow!
      <br>
      <br>
      <b>Call or Text: </b><a class="contacta" href="tel:919-268-3949">919-268-3949</a>

        <br> <br>
        <b>Email: </b> <a class="contacta" href="mailto:alex@spotlesssights.com">alex&#64;spotlesssights.com</a></p>

    
  <footer>
        <img id="footerlogo" src="imgs/footerlogonew.png" alt="logo for footer">

  </footer>

<script>
    document.getElementById('vid').play();
</script>