 h3{
    font-weight: bolder;
    margin-bottom: 1rem;
}


h4, h1{
    font-weight: bolder;
}

li{
    font-size: larger;
    padding: .2rem;
}

#header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.subtext{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width: 768px) {

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-text{
    position: absolute; top: 450px; left: 350px; transform: translate(-50%, -50%); text-align: left;
    color: #005396
}

#header-text h1{
    font-size: 3.5rem;
}

#header-text h2{
    font-size: 2.2rem;
    font-weight: bold;
}



}