

.header-img{
    top: 30px;
    position: relative;
    width: 100%;
    height: auto;
}


h4, h1{
    font-weight: bolder;
}

li{
    font-size: larger;
    padding: .2rem;
}

#header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.subtext{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bg{
  height: 100%;
    background-image: url('/imgs/bg.svg');
    background-repeat: no-repeat;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

