
<app-navbar></app-navbar>

<div class="header-container">
    <img src="imgs/header-new.png" alt="Spotless Sights Window Cleaning" id="header-img">

</div>


    <div style="padding: 2rem;">
        <h4>Our Services</h4>
        <div class="subtext">
            <ul>
                <li>Resedential Cleaning</li>
                <li>Commercial Cleaning</li>
                <li>Gutter Cleaning</li>
                <li>Screen Repair</li>
                <li>Pressure Washing</li>
            </ul>
        </div>

        <button class="btn btn-primary shadow-sm">Get a Free Quote</button>

    </div>

     <div style="padding: 2rem;">
        <h4>Why choose us?</h4>
        <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

         <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

         <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

    </div>


    <div style="width: 100vw;">
    <app-review></app-review>
    </div>


<div class="d-flex align-items-center flex-column" style="padding: 2rem;">
    <h6>Every home deserves to shine...</h6>
    <h3 style="text-align: center;">Let us make yours a little brighter</h3>
</div>

