

#header-img{
    width: 400%;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}


h4, h1{
    font-weight: bolder;
    padding-bottom: 1rem;
}

li{
    font-size: larger;
    padding: .2rem;
}

#header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.sub-header{
    font-weight: bold;
    padding-bottom: .2rem;
}

.subtext{
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.bg{
  height: 100%;
    background-image: url('/imgs/bg.svg');
    background-repeat: no-repeat;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

