
<app-navbar></app-navbar>

<div class="header-container">
    <img src="imgs/header-new.png" alt="Spotless Sights Window Cleaning" id="header-img">
    <div class="header-text">
        <h1>Spotless Sights</h1>
        <h2>Window Cleaning</h2>
    </div>
</div>


    <div style="padding: 2rem;  margin-top: 4rem;">
        <h4>Our Services</h4>
        <div class="subtext">
            <p>Resedential Cleaning</p>
            <p>Commercial Cleaning</p>
            <p>Gutter Cleaning</p>
            <p>Screen Repair</p>
            <p>Pressure Washing</p>
        </div>

    </div>

    <div style="margin-top: 4rem;">
        <app-contact></app-contact>
    </div>

     <div style="padding: 2rem; margin-top: 4rem;">
        <h4>Why choose us?</h4>
        <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

         <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

         <div class="subtext">
          <p class='sub-header'>reason</p>
          <p>heloo </p>
        </div>

    </div>


    <div style="width: 100vw;  margin-top: 4rem;">
    <app-review></app-review>
    </div>

    <div style="padding: 2rem; margin-top: 4rem;">
      <h4>Meet Spotless Sights</h4>
    </div>

