
  <mat-toolbar>
        <img id="logo" src="imgs/logo_nowords.png" alt="logo">
    
 
    <div>
        <a mat-raised-button href="tel:919-268-3949" target="_blank" style="text-decoration: none;">Call for Free Estimate</a>

    </div>
   

  </mat-toolbar>
   
  <video id="vid" width="100%" autoplay="autoplay" muted loop>
    <source src="imgs/landingvid.mp4" type="video/mp4" >
  </video>


        <p><b>Welcome to Spotless Sights</b>, where clarity meets perfection, and your satisfaction is always our priority! 
            <br> <br>

            <b>Call or Text: </b><a href="tel:919-268-3949">919-268-3949</a>

            <br> <br>
            <b>Email: </b> <a href="mailto:alex@spotlesssights.com">alex&#64;spotlesssights.com</a></p>



            <div class="headerbox">
                <img class="headers" src="imgs/Services.png" alt="image of owners">
               </div>      
               
               <div class="aboutimg">
                <img src="imgs/main.jpg" alt="image for about us">
              </div>

          <ul id="services">
              <li>Residential & commercial window washing - interior and exterior</li>
              <li>Residential screen cleaning</li>
              <li>Gutter inspection and cleaning</li>
              <li>Post construction window washing</li>
              <li>Special window cleaning requests</li>

          </ul>

          <div id="reviews">
            <review-widget></review-widget>
          </div>


          <div class="headerbox">
            <img class="headers" src="imgs/Work.png" alt="image of owners">
           </div>        

           <div id="carouselcontainer">    
           <carousel-widget></carousel-widget>
        </div>


        <div class="headerbox">
        <img class="headers" src="imgs/About.png" alt="image of owners">
       </div>

       <p id="about-p">Owned and operated by Chapel Hill native, 
        <b>Alex Ray</b>, Spotless Sights is committed to not only delivering sparkling clean windows, but also to fostering genuine 
        connections with every client interaction.</p>
        
        
      <div class="aboutimg">
        <img src="imgs/alex.jpg" alt="image for about us">
      </div>
         
        <p>Ask for a <b>free quote</b> with Alex today and enjoy sparkling clean windows tomorrow!
      <br>
      <br>
      <b>Call or Text: </b><a href="tel:919-268-3949">919-268-3949</a>

        <br> <br>
        <b>Email: </b> <a href="mailto:alex@spotlesssights.com">alex&#64;spotlesssights.com</a></p>


    
    
  
                  
      
              
            

  
            

                 
      
    
  <footer>
        <img id="footerlogo" src="imgs/footerlogo.png" alt="logo for footer">

  </footer>

<script>
    document.getElementById('vid').play();
</script>