

#large{
    width: 100%;
}

h2{
    padding: 10px;
}

p, ul{
    background-color: #ffffffeb;
    padding: 20px;
    color: #005396;
    border-radius: 20px;
    margin: 20px;
    line-height: 150%;
    font-size: medium;

}

.aboutimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutimg img{
    width: 80%;
    margin: 20px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #95aec7;
}

a{

    text-decoration: underline;
    color: #005396;
}

.headers{
    width: 100px;
    padding: 20px;
}

.headerbox{
    display: flex;
    justify-content: left;
    align-items: center;
}

#logo{
    width: 60px;
    margin: 15px;
    margin-left: -10px;
}

#reviews{
    width: 100%;
    margin: 0;
    background-color: #005396;
}

#footerlogo{
    width: 200px;

}

#established{
    width: 100px;
    margin-top: 10px;
}

mat-toolbar{
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #95aec7;
}



#services{
    padding-top: 0;
    margin-top: 0;
    margin: 10px;
    list-style:square;
}

li{
    margin: 20px;
}


#carouselcontainer{
    margin: 20px;
    margin-bottom: 30px;
}

#about-p{
    margin-top: 0;
    padding-bottom: 0;
}


@media screen and (min-width: 580px) {
   
    p, ul{
        font-size: large;
    }

    .headers{
        width: 180px;
        padding: 20px;
    }

    .aboutimg img{
        width: 70%;
      
    }

    #logo{
        width: 80px;
    }
    
    
  }

  @media screen and (min-width: 1200px) {
   
    .aboutimg img{
        width: 50%;
      
    }
    
    p, ul{
        font-size: larger;
    }

    
    
  }
