:root {
  --color-primary: #005396;
  --color-primary-light: #D2E8FF;
  --color-bg: #EFF4F9;
  --font-main: 'Montserrat', system-ui, -apple-system, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: var(--font-main);
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.mat-primary-btn {
  background-color: var(--color-primary) !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  width: 100%;
  max-width: 300px;
}

.mat-primary-btn:hover {
  background-color: #5883a6 !important;
  color: white !important;
}
