#carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#currimage{
    width: 70%;
    margin: 5px;
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, hsla(0, 0%, 0%, 0.23) 0px 6px 6px;}


.custom-icon {
    color: #005396;
  }


@media screen and (min-width: 600px) {
   
    #currimage{
        width: 40%;
    }
    
    
    
  }


@media screen and (min-width: 1200px) {
   
    #currimage{
        width: 30%;
    }
    
    
    
  }
